################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/platformservice/.vs/

/platformservice/bin/

/platformservice/obj/